@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

*::-webkit-scrollbar {
  display: none;
}

.prevent-animation * {
  display: none !important;
}

@keyframes changes-detected {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes changes-detected-hide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}

#animate-changes-detected {
  animation: changes-detected 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

#animate-changes-not-detected {
  animation: changes-detected-hide 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
